@mixin warning {
	background-color: orange;
	color: #fff;
}

@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
}


//there are other mixins like this available
//online if you look it up.
@mixin apply-to-ie-6 {
	* html {
		//only ie6 will apply these styles
		@content; //this fills in any content we pass to the 
		//mixin 
	}
}

@mixin large-text {
	font: {
		size: 22px;
		weight: bold;
	}
}

@mixin rounded($radius: 6px) {
	border-radius: $radius;
}

@mixin box($radius: 6px, $border: 1px solid black) {
	@include rounded($radius);
	border: $border;
}

@mixin fancy-links {
	a {
		font-style: italic;
		text-decoration: none;
	}
}