
@mixin pastry-pizza {
	@if $brand == pastry-pizza {
		//add all styles passed into this mixin
		@content;
	}
}

@mixin rogers-rovers {
	@if $brand == rogers-rovers {
		//add all styles passed into this mixin
		@content;
	}
}

@mixin blue-beans {
	@if $brand == blue-beans {
		//add all styles passed into this mixin
		@content;
	}
}

@mixin tiny-screens() {
	@media only screen and (max-width: 320px) {
		@content;
	}
}

@mixin small-screens() {
	@media only screen and (max-width: 480px) {
		@content;
	}
}

@mixin medium-screens() {
	@media only screen and (max-width: 680px) {
		@content;
	}
}

@mixin large-screens() {
	@media only screen and (max-width: 960px) {
		@content;
	}
}


@mixin google-font($font) {
	//this will format the google url into something
	//that the .scss file will be able to read in the 
	//css formatted import
	$font: unquote($font);
	//interpolate the $font so it is separated from the url
	//can only use this #{format} with css format imports
	@import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin warning {
	background-color: orange;
	color: #fff;

	&:hover {
		background-color: lighten(orange, 10%);
	}
}

@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
}


//there are other mixins like this available
//online if you look it up.
@mixin apply-to-ie-6 {
	* html {
		//only ie6 will apply these styles
		@content; //this fills in any content we pass to the 
		//mixin 
	}
}

@mixin large-text {
	font: {
		size: 22px;
		weight: bold;
	}
}

@mixin rounded($radius: 6px) {
	border-radius: $radius;
}

@mixin box($radius: 6px, $border: 1px solid black) {
	@include rounded($radius);
	border: $border;
}

@mixin fancy-links {
	a {
		font-style: italic;
		text-decoration: none;
	}
}